@charset "utf-8";
/* CSS Document */

#algo-table
{
	height: 350px;
}

#algo-table td
{
	vertical-align: top;
}

#algo-table .psuedocode
{
	vertical-align: middle;
}

.main-controls button
{
	height: 50px;
	width: 100px;
}

.workarea
{
	position:relative;
	width: 100%;
	height: 100%;
}
