/*
	Name:	Danny Vargas
	File:	test.css
*/

#algo-table
{
	height: 350px;
}

.workarea
{
	position: relative;
}

.plain-box-style
{
	position: absolute;
	height: 100px;
	width:	100px;
	padding: 0;
	
	border: 2px black solid;
	background-color: red;
}

#box1
{
	left: 0px;
	top: 10px;
	z-index: 1;
}

#box2
{
	left: 150px;
	top: 10px;
	z-index: 2;
	
	background-color: blue;
}

#box3
{
	left: 300px;
	top: 10px;
	z-index: 3s;
	
	background-color: green;
}