#algo-table
{
	height: 300px;
}

#algo-table td
{
	vertical-align: middle;
}

.workarea
{
	position:relative;
	width: auto;
	height: auto;
}

.psuedocode pre
{
	vertical-align: middle;
}

.psuedocode pre div
{
	display: inline;
}

#level0{
  display: block;
}
#level1{
  display: block;
}
#level2{
  display: block;
}
.image{
  display: inline;
  text-align: center;
  position:relative;
}
.image .text{
  display: inline;
  text-align: center;
  color: white;
  position: absolute;
  top: -25px;
  left: 25px;
}